<h1>editando mascota</h1>
<p>{{pet}}</p>
<div class="card" style="width: 300px;">
  <div class="card-divider center">
  Editando mascota
  </div>
    <div class="card-section">
    <form action="/user/modific_pet/{{pet._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="nombre" placeholder="Nombre" value="{{pet.nombre}}">
    <select name="tipo">
    <option value=""></option>
    {{#each tipos}}
    <option value="{{_id}}">{{tipo}}</option>
    {{/each}}
    </select>
    <div class="row">
    <label><input type="radio" name="sexo" value="macho">Macho
    <input type="radio" name="sexo" value="hembra" checked>Hembra</label>
    </div>
    <div class="row">
    <label><input type="radio" name="tamaño" value="grande">Grande
    <input type="radio" name="tamaño" value="mediano" checked>Mediano
    <input type="radio" name="tamaño" value="pequeño">Pequeño</label>
    </div>
    <textarea name="descripcion" rows="5" cols="5" placeholder="una caracteristicas de tu mascota">{{pet.descripcion}}</textarea>
  <button class="button" type="submit" value="Submit">Subir</button>
</form>
  </div>