
<h1>Mys pets</h1>

{{#each mascotas}}
<div class="card" style="width: 300px;">
  <div class="card-divider center">
  {{nombre}}
  </div>
  <div class="card-section">
      <div class="row" style="display: flex;">
          <div class="cell small-4" style="width: 80px; height: 80px; background-color: blue;"></div>
          <div class="cell small-8" style="padding:  0px 5% 0px;">
              <h6 style="padding:  0px 5% 0px;">{{sexo}}</h6>
              <h6 style="padding:  0px 5% 0px;">{{tamaño}}</h6>
              <h6 style="padding:  0px 5% 0px;">{{tipo}}</h6>
         </div>
      </div>
    <div>
      <a href="/user/modific_pet/{{_id}}"><i class="fas fa-pencil-alt 2x"></i></a>
    </div>
  </div>
</div>
 {{/each}}